<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922145341995-1ghpqub36ck35mtne5hmaj62vkvdnjgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922145341995-1ghpqub36ck35mtne5hmaj62vkvdnjgg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>922145341995-ca1qe8ouubg4de05ugk28e46jlaiqae4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHmUV5SZCa0z_X-0-NAwkMplNaZUWKXdg</string>
	<key>GCM_SENDER_ID</key>
	<string>922145341995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yukNgafal</string>
	<key>PROJECT_ID</key>
	<string>yukngafal</string>
	<key>STORAGE_BUCKET</key>
	<string>yukngafal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922145341995:ios:5e8c2493ddb7cbdf2f606e</string>
</dict>
</plist>